<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | <%= title %></title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Company Name</h1></a>
            <p>A site </p>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
    </nav>
    <div class="create-blog content">
        <form>
            <label for="title">Blog Title</label>
            <input type="text" id="title" name="title" required>
            <label for="content">Content</label>
            <input type="text" id="snippet" required>
            <textarea id="content" name="content" required></textarea>
            <button type="submit">Create Blog</button>
        </form>
    </div>
    <footer>
        <p>Company Name &copy; 2023</p>
    </footer>
</body>
</html>